<footer>
  <br />
  <br />
  <p>
      POKEMON<br />
      Gotta Catch 'Em All
  </p>
  <br>
  <div class="social-icons">
      <a href="https://github.com/mrkalilano" target="_blank" class="icon-link">
          <i class="fab fa-github"></i>
      </a>
      <a href="https://web.facebook.com/profile.php?id=100008795975578"
      target="_blank" class="icon-link">
          <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/mrkalilano/" target="_blank" class="icon-link">
          <i class="fab fa-instagram"></i>
      </a>
  <!-- Add other social media icons similarly -->
  </div>
  <p>
      &copy; 2023 pokemon. All Rights Reserved.
  </p>
</footer>